@use "../ui-components/theme";
@use "../ui-components/reset";
@use "../ui-components/utils";
@use "../ui-components/popup";

$app-bar-size: 4em;

%app-bar-button {
    @include reset.reset-button;
    @include reset.reset-link;

    @include theme.property(color, fg-on-primary);
    width: 3em;
    height: 3em;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include utils.hover-effect;

    &:after {
        border-radius: 50%;
    }

    &:disabled {
        @include theme.property(color, disabled-on-primary);
    }
}

@mixin app-bar-button {
    @extend %app-bar-button;
}

.app-bar {
    height: $app-bar-size;
    @include theme.property(background-color, primary);
    @include utils.default-shadow;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        @include app-bar-button;
    }

    &__links {
        flex-shrink: 0;
        position: relative;
    }

    &__kontokorrent-select {
        margin-left: 1em;
        min-width: 6em;
    }


    &__nav-popup {
        position: absolute;
        @include theme.property(background-color, bg-container);
        @include theme.property(color, fg-on-container);
        @include utils.default-shadow;
        border-radius: popup.$border-radius;
        @include popup.open-animation();
        z-index: 1;
        right: 0.5em;
        min-width: 10em;

        &>.button {
            width: 100%;
            justify-content: flex-start;
            padding: 0em 0.5em;
            margin: 0;
            box-sizing: border-box;
            border-radius: 0;
        }
    }
}