@use "../ui-components/theme";
@use "../ui-components/reset";
@use "../ui-components/utils";

$app-bar-size: 4em;

%app-bar-button {
    @include reset.reset-button;
    @include reset.reset-link;

    @include theme.property(color, fg-on-primary);
    width: 3em;
    height: 3em;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include utils.hover-effect;

    &:after {
        border-radius: 50%;
    }
}

@mixin app-bar-button {
    @extend %app-bar-button;
}

.app-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: $app-bar-size;
    @include theme.property(background-color, primary);
    @include utils.default-shadow;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        @include app-bar-button;
    }

    &__links {
        flex-shrink: 0;
    }

    &__kontokorrent-select {
        margin-left: 1em;
        min-width: 6em;
    }
}

.body--app-bar {
    margin-top: $app-bar-size;
}