<app-bar></app-bar>
<div style="display: none;" id="login-expired">Google-Login abgelaufen: zum Synchronisieren neu anmelden</div>
<balance-anzeige id="balance-anzeige"></balance-anzeige>
<div class="kontokorrentpage-menu">
    <a id="eintragen-desktop" class="floating-action-button floating-action-button--embed" href="eintragen">
        <span class="material-icons">
            add
        </span>
        eintragen
    </a>
    <span class="kontokorrentpage-menu__sync-display" id="spinner">
        <app-spinner></app-spinner>
        synchronisieren
    </span>
</div>
<bezahlungen-view id="bezahlungen-view"></bezahlungen-view>
<a id="eintragen-mobile" class="floating-action-button floating-action-button--fixed" href="eintragen">
    <span class="material-icons">
        add
    </span>
    eintragen
</a>