@use "../ui-components/theme";
@use "../ui-components/utils";

.kontokorrentpage-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1em;
    padding: 0.2em 0.5em;
    @include theme.property(background-color, bg-container);

    @include utils.media-desktop() {
        margin-bottom: 2em;
    }

    &__sync-display {
        font-size: 0.8em;
        display: flex;
        align-items: center;
        & > app-spinner {
            height: 1.1em;
            padding-right: 0.2em;
        }
    }
}

#eintragen-desktop {
    margin-top: 1em;

    @include utils.media-mobile() {
        display: none;
    }
}

#eintragen-mobile {
    @include utils.media-desktop() {
        display: none;
    }
}