<div class="bezahlung-card__beschreibung">
    <div data-ref="beschreibung"></div>
    <div class="bezahlung-card__personen">
        <span data-ref="bezahlende-person"></span>
        für
        <span data-ref="empfaenger"></span>
    </div>
</div>
<div class="bezahlung-card__wert">
    <span data-ref="wert"></span>€
</div>
<div class="bezahlung-card__status">
    <span class="material-icons" data-ref="icon-done" style="display: none;" title="lokal zwischengespeichert">
        done
    </span>
    <span class="material-icons" data-ref="icon-done-all" style="display: none;" title="synchronisiert">
        done_all
    </span>
    <span class="material-icons" data-ref="icon-sync" style="display: none;" title="synchronisieren...">
        sync
    </span>
</div>