@use "../ui-components/theme";
@use "../ui-components/card";

bezahlung-card {
    @extend %card;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.bezahlung-card {
    &__beschreibung {
        flex-grow: 1;
    }

    &__personen {
        @include theme.property(color, fg-on-container-subtle);
        font-size: 0.875em;
        padding-top: 0.4em;
    }

    &__wert {
        @include theme.property(color, fg-on-container-subtle);
        margin-left: 1em;
    }

    &__status {
        @include theme.property(color, fg-on-container-subtle);
        position: absolute;
        line-height: 0;
        &>.material-icons {
            font-size: 0.9em;
        }

        bottom: 0;
        right: 0;
    }
}