@use "../ui-components/theme";
@use "../ui-components/card";

bezahlung-card {
    @extend %card;
    display: inline-flex;
    align-items: center;
}

$status-font-size : 0.9em;

.bezahlung-card {
    &__beschreibung {
        flex-grow: 1;
        padding: card.$card-padding;
    }

    &__personen {
        @include theme.property(color, fg-on-container-subtle);
        font-size: 0.875em;
        padding-top: 0.4em;
    }

    &__col2 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__dummy {
        flex: 0 0 $status-font-size;
    }

    &__wert {
        @include theme.property(color, fg-on-container-subtle);
        margin-left: 1em;
        padding-right: card.$card-padding;
        flex: 1 0 auto;
        display: inline-flex;
        align-items: center;
    }

    &__status {
        padding-right: 0.1em;
        text-align: right;
        flex: 0 0 $status-font-size;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        @include theme.property(color, fg-on-container-subtle);

        &>.material-icons {
            font-size: $status-font-size;
        }

        user-select: none;
    }
}