@use "../../utils.scss";
@use "../../theme.scss";

bezahlungen-view {
    margin: 0 1em;
    display: block;
    // ausscrollen auf mobile bei fab
    margin-bottom: 3em;
}

.bezahlungen-group {
    &__title {
        font-size: 1em;
        font-weight: normal;
        color: theme.$grouptitle;
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));

        &>bezahlung-card {
            margin: 0.2em;
        }
    }
}