@use "../../utils.scss";
@use "../../theme.scss";

bezahlungen-view {
    margin: 1em;
    display: block;
}

bezahlungen-view {}

.bezahlungen-group {
    &__title {
        font-size: 1em;
        font-weight: normal;
        color: theme.$grouptitle;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));

        &>bezahlung-card {
            margin: 0.2em;
        }
    }
}