<app-bar></app-bar>
<div id="bezahlung__edit" class="bezahlung__edit">
    <div class="bezahlung-page-menu">
        <a id="zurueck-zum-kontokorrent" class="button">
            <span class="material-icons">
                arrow_back
            </span>
            zurück
        </a>
        <button class="button" title="speichern" id="bezahlung__delete">
            <span class="material-icons">
                delete
            </span>
            löschen
        </button>
        <button class="button" title="speichern" id="bezahlung__update">
            <span class="material-icons">
                save
            </span>
            speichern
        </button>
    </div>
    <div class="bezahlung__form-container" id="bezahlung__form-container">
        <div id="update-error" class="alert alert--error" hidden>
            Zahlung konnte nicht bearbeitet werden.
        </div>
        <div id="delete-error" class="alert alert--error" hidden>
            Zahlung konnte nicht bearbeitet werden.
        </div>
        <div id="bezahlung-nicht-gefunden-error" class="alert alert--error" hidden>
            Zahlung konnte nicht gefunden werden.
        </div>
        <div id="bezahlung-zwischengespeichert-error" class="alert alert--error" hidden>
            Zahlung kann nicht geöffnet werden, weil sie noch synchronisiert wird.
        </div>
        <div id="bezahlung-geloescht-error" class="alert alert--error" hidden>
            Zahlung kann nicht verändert werden, weil sie gelöscht wurde.
        </div>
        <div id="bezahlung-bearbeitet-error" class="alert alert--error" hidden>
            Zahlung kann nicht verändert werden, weil sie bereits bearbeitet wurde.
        </div>
        <bezahlung-eintragen-form>
        </bezahlung-eintragen-form>
    </div>
</div>
<div class="bezahlung__progress" id="bezahlung__updating">
    <span class="spinner"></span>
    <span>wird gespeichert</span>
</div>
<div class="bezahlung__progress" id="bezahlung__deleting">
    <span class="spinner"></span>
    <span>wird gelöscht</span>
</div>
<app-popup id="update-dialog">
    <div class="dialog__backdrop"></div>
    <div class="dialog">
        <p class="dialog__question">
            Geänderte Bezahlung speichern?
        </p>
        <div class="dialog__button-pane">
            <button id="abort-update" class="button">Abbrechen</button>
            <button id="confirm-update" class="button">Speichern</button>
        </div>
    </div>
</app-popup>
<app-popup id="delete-dialog">
    <div class="dialog__backdrop"></div>
    <div class="dialog">
        <p class="dialog__question">
            Bezahlung löschen?
        </p>
        <div class="dialog__button-pane">
            <button id="abort-delete" class="button">Abbrechen</button>
            <button id="confirm-delete" class="button">Löschen</button>
        </div>
    </div>
</app-popup>