@use "../ui-components/theme";

app-create-event {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    @include theme.property(background-color, bg-container);
    justify-content: space-evenly;
    align-items: center;
}

@mixin box-width {
    width: 75%;
    max-width: 30em;
}

.create-event-box {
    @include box-width;
    flex: 3 0 0px;

    &__label {
        font-weight: 500;
        margin-top: 0.5em;
    }

    &__processing {
        height: 2.1875em;

        &>.spinner {
            font-size: 1.2em;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input-with-tip {
        display: flex;
        align-items: center;
        position: relative;

        &>input {
            flex-grow: 1;
            margin-right: 0.5em;
        }
    }
}