<div class="create-event-box" id="create-event-box">
    <h1>Gruppe erstellen</h1>
    <div id="empty-name-error" class="alert alert--error" style="display: none;">Für alle Personen Namen angeben</div>
    <div id="person-count-error" class="alert alert--error" style="display: none;">Mindestens zwei Personen angeben
    </div>
    <div id="event-create-error" class="alert alert--error" style="display: none;">Kontokorrent konnte nicht erstellt
        werden</div>
    <div id="event-name-duplicate" class="alert alert--error" style="display: none;">Ein Kontokorrent mit diesem Namen
        exisitert bereits</div>
    <div id="event-name-required-error" class="alert alert--error" style="display: none;">Eventname angeben</div>
    <div id="event-name-error" class="alert alert--error" style="display: none;">Name: Nur
        Groß-/Kleinbuchstaben (A-Z, a-z) und Zahlen</div>
    <div id="person-name-duplicate-error" class="alert alert--error" style="display: none;">Personennamen müssen
        unterschiedlich sein</div>
    <div id="account-creation-failed" class="alert alert--error" style="display: none;">Account konnte nicht erstellt
        werden</div>
    <label for="event-name" class="create-event-box__label">Anzeigename</label>
    <div class="create-event-box__input-with-tip">
        <input type="text" id="event-name" name="event-name">
        <tip-button popup-id="eventNameExplainer" title="Eventname erklärung">
            <span class="material-icons">
                info
            </span>
        </tip-button>
        <app-popup id="eventNameExplainer" class="tip tip--with-input">
            Wie soll die Gruppe heißen?
            Groß- und Kleinbuchstaben (A-Z, a-z) sowie Zahlen sind erlaubt.
            Der Name wir auch zum Einloggen verwendet dabei wird Groß-/Kleinschreibung ignoriert.
        </app-popup>
    </div>
    <label class="create-event-box__label">Personen</label>
    <app-personen-liste id="personen-liste"></app-personen-liste>
    <div id="creating" class="create-event-box__processing">
        <app-spinner>
    </div>
    <div>
        <button id="create-button" class="button">Erstellen</button>
    </div>
    <div>
        <a id="home-button" class="button" href="">
            <span class="material-icons">
                home
            </span>
            zurück
        </a>
    </div>
</div>