<div class="kontokorrent-select-wrapper">
    <div class="kontokorrent-select">
        <h1 data-ref="kontokorrent-name" class="kontokorrent-select__name"></h1>
        <button class="kontokorrent-select__choose" title="anderen Kontokorrent wählen">
            <span class="material-icons">
            arrow_drop_down
            </span>
        </button>
    </div>
    <div class="kontokorrent-select__popup" style="display: none;" data-ref="popup">
        <kontokorrent-select-list></kontokorrent-select-list>
    </div>
</div>