@use "../ui-components/theme";

.kontokorrent-select-list {
    padding: 0;
    margin: 0;

    &>li {

        list-style-type: none;
    }

    &__entry {
        padding: 0.5em;
        text-decoration: none;
        color: inherit;
        width: 100%;
        display: block;
        box-sizing: border-box;

        &:hover {
            @include theme.property(background-color, hover-on-container);
        }

        &--active {
            &:hover {
                @include theme.property(background-color, active-on-container);
            }

            @include theme.property(background-color, active-on-container);
        }
    }
}