@use "../ui-components/theme";
@use "../ui-components/reset";
@use "../ui-components/utils";
@use "../ui-components/popup";
@use "sass:color";

.kontokorrent-select {
    border-bottom: 1px solid;
    @include theme.property(border-bottom-color, fg-on-primary);
    display: flex;
    align-items: center;
    padding: 0.2em;
    box-sizing: border-box;
    cursor: pointer;
    @include theme.property(color, fg-on-primary);

    &__name {
        font-weight: normal;
        font-size: 1.5em;
        padding: 0;
        margin: 0;
        min-width: 6em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__choose {
        @include reset.reset-button;
        @include theme.property(color, fg-on-primary);
        width: 1em;
    }

    &::after {
        border-radius: popup.$border-radius;
    }

    @include utils.hover-effect;

    &__popup {
        position: absolute;
        min-height: 3em;
        @include theme.property(background-color, bg-container);
        @include theme.property(color, fg-on-container);
        @include utils.default-shadow;
        border-bottom-left-radius: popup.$border-radius;
        border-bottom-right-radius: popup.$border-radius;
        margin-top: -1px;
        min-width: 15em;
        @include popup.open-animation();
        z-index: 1;
    }

    &__buttons {
        text-align: center;
        padding: 0.5em;
    }
}

.kontokorrent-select-wrapper {
    position: relative;
}