@use "../ui-components/theme";

share-dialog {

    h2,
    h3 {
        margin-block-start: 1em;
        margin-block-end: 0;
    }

    p {
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }
}

.share-dialog {
    &__display-name {
        @include theme.property(color, primary);
    }

    &__link-box {
        display: flex;
        flex-direction: row;
        align-items: center;

        &>input {
            flex-grow: 1;
        }
    }

    &__copied {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}