@use "../theme.scss";
@use "../utils.scss";

.button {
    @include utils.reset-button;
    color: theme.$primary;
    text-transform: uppercase;
    border-radius: theme.$button-radius;
    font-size: .875em;
    font-weight: 500;
    letter-spacing: .08929em;
    height: 2.5em;
    padding: 0 0.5em;

    &:hover {
        background-color: theme.$hover-on-container;
    }
}