@use "../theme.scss";
@use "../utils.scss";

.button {
    @include utils.reset-button;
    color: theme.$primary;
    text-transform: uppercase;
    border-radius: theme.$button-radius;
    font-size: .875em;
    font-weight: 500;
    letter-spacing: .08929em;
    height: 2.5em;
    padding: 0 0.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: theme.$hover-on-container;
    }

    & > .material-icons {
        font-size: 1.2em;
        margin: 0 0.2em;
    }

    &--raised {
        background-color: theme.$primary;
        color: theme.$fg-on-primary;
        @include theme.button-shadow;
        @include utils.button-hover;

        &:hover {
            background-color: theme.$primary;
        }
    }
}