@use "../theme.scss";
input {
    outline: none;
    border: none;
    caret-color: theme.$primary;
    font-size: 1em;
    line-height: 1.75em;
    box-sizing: border-box;
    border-radius: 0;
    border-bottom: 1px solid theme.$input-line;
    margin-bottom: 0.4em;
    &:hover {
        border-bottom-color: theme.$input-line--hover;
    }
}