@use "../theme.scss";
@use "../utils.scss";
@use "sass:color";

.spinner {
    width: 1em;
    margin: 0 0.2em;
    height: 1em;
    border: 0.1em solid;
    border-radius: 50%;
    border-color: theme.$primary;
    border-left-color: color.adjust($color: theme.$primary, $alpha: -0.96);
    box-sizing: border-box;
    will-change: transform;
    animation: spinner-in-progress-animation .6s cubic-bezier(0.38, 0.22, 0.63, 0.8) infinite;

    @keyframes spinner-in-progress-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}