@use "../theme.scss";
@use "../utils.scss";

.tip {
    position: absolute;
    background-color: theme.$bg-container;
    @include theme.box-shadow;
    border-radius: theme.$input-radius;
    padding: 0.5em;
    @include utils.open-popup();
    z-index: 1;
    font-size: 0.8em;
    user-select: none;
    box-sizing: border-box;

    &--with-input {
        top: 2em;
        width: 100%;
    }
}

tip-button {
    width: 1em;
    height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: theme.$primary;

    &>.material-icons {
        font-size: 1.2em;
    }

    @include utils.button-hover;
}