<app-bar></app-bar>
<div class="kontokorrent-hinzufuegen-section">
    Möchtest du den öffentlichen Kontokorrent zur Liste deiner Kontokorrents
    <strong><span id="oeffentlicher-name"></span></strong>
    hinzufügen?
</div>
<div class="kontokorrent-hinzufuegen-section">
    <div id="notFoundError" class="alert alert--error" style="display: none;">Kontokorrent wurde nicht gefunden</div>
    <button class="button button--raised" id="hinzufuegen-btn">
        hinzufügen
    </button>
</div>
<div class="hinzufuegen__progress" id="hinzufuegen__progress">
    <app-spinner></app-spinner>
    <span>wird hinzugefügt</span>
</div>