<div id="eventMissingError" style="display: none;">Event eingeben!</div>
<div id="notFoundError" style="display: none;">Kontokorrent wurde nicht gefunden</div>
<div id="account-creation-failed" style="display: none;">Account konnte nicht erstellt werden</div>
<div id="processing" style="display: none;">Wird verarbeitet</div>
<div id="eventTextField" class="mdc-text-field mdc-text-field--fullwidth">
    <input type="text" id="eventInput" class="mdc-text-field__input" placeholder="Event eingeben">
</div>
<button id="loginButton" class="mdc-button mdc-button--raised">
    Login
</button>
<a id="createEventButton" class="mdc-button mdc-button--compact mdc-button--dense" href="create-event">
    Event erstellen
</a>