@import "./components/button.scss";

body,
button {
    font-family: 'Roboto', sans-serif;
}

body {

    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
