
// $mdc-theme-primary: rgb(0, 255, 85);
// $mdc-theme-secondary: #e4f403;


//@import "node_modules/material-components-web/material-components-web";


// @import "@material/line-ripple/mdc-line-ripple";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
// @import "@material/chips/mdc-chips";
// @import "@material/dialog/mdc-dialog";
// @import "@material/drawer/mdc-drawer";
// @import "@material/elevation/mdc-elevation";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
//@import "@material/grid-list/mdc-grid-list";
// @import "@material/icon-toggle/mdc-icon-toggle";
// @import "@material/layout-grid/mdc-layout-grid";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
// @import "@material/radio/mdc-radio";
// @import "@material/ripple/mdc-ripple";
@import "@material/select/mdc-select";
// @import "@material/slider/mdc-slider";
// @import "@material/snackbar/mdc-snackbar";
// @import "@material/switch/mdc-switch";
// @import "@material/tabs/mdc-tabs";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";

@include mdc-list-group-subheader-ink-color($mdc-theme-primary);
body{
    margin: 0px;
    padding: 0px;
}
#loadScreen{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:auto;
}
#progressBar{    
    margin: 8px;
    width: 50%;
}
.mdc-text-field__input{
    padding: 0; //bugfix
}
#splashScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    //display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:auto;
}
.errorText{
    margin-bottom: 8px;
    color: rgb(255,0,0);
    display: none;
}
#transactionError{
    
    margin-left: 16px;
}
#loginBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loginButton{
    width: 100%;
}
#createEventButton{
    align-self: flex-end;
}
#createEventBox{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#createEventBox>*{
    width: 100%;
}
#backToLoginButton{
    width: auto;
    align-self: flex-end;
}
#page{
    //display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
#page>*{
    flex: 1 1 auto;
    margin: 4px 4px;
}

#toolbarSpacer{
    height:1px;
}
// .fab--absolute {
//   position: fixed;
//   bottom: 1rem;
//   right: 1rem;
// }

// @media(min-width: 1024px) {
//    .fab--absolute {
//     bottom: 1.5rem;
//     right: 1.5rem;
//   }
// }

h1, h2, h3, h4, h5, h6{
    margin-left: 16px;
    margin-bottom:0px;
}
.mdc-card {
    // height: 350px;
    //max-width: 350px;
}
#overviewList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#overviewList>*{
    cursor:pointer;
}
#newTransaction .mdc-form-field{
    margin-left: 8px;
}
#newTransaction .mdc-text-field{
    margin-left: 16px; 
    margin-right: 16px; 
}
#newTransaction .mdc-form-field>*{
    cursor:pointer;    
    user-select: none;
}
#payingPerson{
    margin-left: 16px;
}

.mdc-list-item__text{
    text-overflow: ellipsis;
    //white-space: nowrap;
    overflow: hidden;
    display: block;
}
.mdc-list-item__text>*{
    text-overflow: ellipsis;
    //white-space: nowrap;
    overflow: hidden;
    display: block;
}
.mdc-list-item__secondary-text{
    white-space: normal;
}


.page{
    display: none;
}
#loadMoreBar{
    display: none;
    margin: 16px;
}