.bezahlung-eintragen-form {
    display: flex;
    flex-direction: column;
    &__label {
        font-weight: 500;
        margin-top: 0.5em;
    }
}

#zahlende-person-auswahl {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
}