<form novalidate class="bezahlung-eintragen-form">
    <label for="betrag" class="bezahlung-eintragen-form__label">Betrag</label>
    <input name="betrag" id="betrag" type="number" novalidate step="any">
    <label for="zahlende-person" class="bezahlung-eintragen-form__label">Diese Person zahlt</label>
    <div id="zahlende-person-auswahl"></div>
    <label for="empfaenger" class="bezahlung-eintragen-form__label">für diese Personen</label>
    <div id="empfaenger-auswahl"></div>
    <label for="betreff" class="bezahlung-eintragen-form__label">Betreff</label>
    <input name="betreff" id="betreff" required="" type="text">
</form>